---
title: "<img alt=\"Explore VR\" src=\"/assets/evr_logo.png\" alt=\"exploreVR logo\" />"
author: admin
layout: front
published: true
---

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="row grapher">

      <div class="container">

        <div class="col-md-6">
        {{page.title}}

      </div>
      <div class="col-md-6 ">
      <h4>Access the latest research on the public VR system.</h4>
        <h4>Download the latest VR data.</h4>
        <h4>Request customized analysis.</h4>
  </div>
      </div>
    </div>

          <div class="row spotlight">
                    <div class="container">
                    <div class="col-md-4">
                      <h3>News</h3>
<h4>Call for Nominations: Promising Business Relations Practices</h4>

<p>In partnership with <a href="http://www.rehabnetwork.org/">CSAVR</a> and <a href="http://www.rehabnetwork.org/customers-2/business/">the NET</a>, the Institute for Community Inclusion (ICI) is conducting research on business relations and employment for people with disabilities served by state vocational rehabilitation (VR) agencies. We are currently accepting nominations of business relations practices used by VR agencies and other employment programs.</p>



<div  id="accordion">

        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><b>
        Read More</b>
        </a>
      </h4>

    <div id="collapseOne" class=" collapse">

      <p>Can you help us identify emerging practices? We’re looking for ones that:
        <ul>
          <li>Meet the needs of businesses (for example, dual-customer approach)</li>
        <li>Promote the employment of people with disabilities</li>
        </ul>
        </p>

        <p>As part of this effort, the ICI is creating a publicly accessible index of practices being implemented by VR agencies, other public or private employment agencies, and businesses. </p>

        <p>If you know of any activity or practice that focuses on meeting the needs of businesses and promoting employment for people with disabilities, please let us know. We are looking for innovative practices, either new or longstanding. The nominated practices are not required to be formally established or evidence-based.</p>

        <p>Please nominate a practice using this <a href="http://www.surveygizmo.com/s3/1709029/Nomination">nomination form. </a></p>

        <p>Thank you!</p>

    </div>
  </div>



    </div>
    <div class="col-md-4"  style="border-right:1px silver solid; border-left:1px silver solid;">
<h3>VR Spotlight:</h3>
<h4><em>Exploring Transition Age Youth</em></h4>


<h4 style="max-width:40em;"><a href="/experts/seven-factors.html" style="color:white;">Expert's Corner: Bob Burns gives you seven key factors to providing VR services to transition age youth</a></h4></p>

<a href="/experts/seven-factors.html"><img src="/img/authors/Bob.jpg" style=""  alt="Bob Burns" /></a>


<br style="clear:both;" />

    </div>
    <div class="col-md-4">
<h3>The Data Lab</h3>

<a href="/lab/"><p>Check out what raw data and analysis we have available for you.</p>
<p><img src="/img/female_male.png" alt="a graph showing the breakdown of successful outcomes broken down by gender" /></p></a>

<br style="clear:both;" />

    </div>
    </div>
</div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Publications</h2>

          {% for post in site.categories.home-pubs %}


              <h4>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h4>
                  <p> {{ post.excerpt }} </p>


          {% endfor %}





        </div>
        <div class="col-md-6">


      <h2>Training & TA</h2>
          <h3>Upcoming Webinars</h3>
          <h4>RTAC INNOVATION WEBINAR SERIES</h4>

          {% for post in site.categories.upcoming reversed offset:5 limit:2 %}


              <h4>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h4>
                  <p> {{ post.excerpt }} </p>


          {% endfor %}

       </div>

      </div>
