<footer>
        <hr>

          <p><center><b>Current VR Projects</b><br /><a href="/vrrtc.html"><img src="/img/logos/VRRRTC_F.png" alt="vrrtc logo" /></a> <a href="/rtac.html"><img src="/img/logos/RTAC_F.png" alt="rtac logo" /></a> <a href="/sga.html"><img src="/img/logos/SGA_F.png" alt=" sga logo" /></a> <a href="/demandside.html"><img src="/img/logos/ondemand_f.png" alt="demandside logo" /></a></center></p>

<p>&copy; ExploreVR.org <script>document.write(new Date().getFullYear())</script>&mdash; ExploreVR is part of the Vocational Rehabilitation Research and Training Center (VR-RRTC). The VR-RRTC is a national center that builds the capacity of the public vocational rehabilitation (VR) program to improve employment outcomes for people with disabilities. The VR-RRTC is funded by the National Institute on Disability and Rehabilitation Research and the Rehabilitation Services Administration of the US Department of Education. Visit the VR-RRTC website (www.vr-rrtc.org) for more information about the center’s policy research, training, and technical assistance efforts.
      </p>
      <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-962830-28']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      </footer>
