<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/evr_logo.png" alt="Explore VR logo" style="max-height:20px" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Publications<b class="caret"></b></a>
              <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><a href="/procedures.html"><strong>Procedures</strong></a></li>
                <li><a href="/aca.html">Affordable Care Act</a></strong></li>
                <li><a href="/order.html">Order of Selection</a></strong></li>
                <li><a href="/tech.html">Technology</a></strong></li>
                <li><a href="/pm.html">Program Management</a></strong></li>
                <li><a href="/ada.html">Americans with Disabilities Act</a></strong></li>
            <li class="divider"></li>
            <li><a href="#"><strong>Populations</a></strong></li>
                  <li><a href="/dd.html">Developmental Disabilities</a></strong></li>
                  <li><a href="/mental_health.html">Mental Health</a></strong></li>
                  <li><a href="/ssdi.html">Social Security Disability Insurance</a></strong></li>
                  <li><a href="/transition.html">Transition</a></strong></li>
            <li class="divider"></li>
            <li><a href="/outcomes.html"><strong>Outcomes</strong></a></li>
            <li class="divider"></li>
            <li><a href="/organization_structure.html"><strong>Organization Structure</strong></a></strong></li>
            <li class="divider"></li>
            <li><a href="/funding.html"><strong>Funding</strong></a></li>
            <li class="divider"></li>
            <li><a href="#"><strong>Request Custmized Analysis</strong></a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Training & TA   <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/upcoming.html">Upcoming</a></li>
                <li><a href="/archived.html">Archives</a></li>
                <li><a href="#">Request TA</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects  <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/vrrtc.html">VRRTC</a></li>
                <li><a href="/rtac.html">RTAC</a></li>
                <li><a href="/sga.html">SGA</a></li>
                <li><a href="/demandside.html">Demand-Side Strategies</a></li>


              </ul>
            </li>
            <li><a href="/lab/">DataLab</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
